<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_fr3_robot">

  <xacro:include filename="$(find dual_fr3_description)/urdf/mr1000_macro.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>
  
  <xacro:property name="joint_limits" value="${xacro.load_yaml('$(find franka_description)/robots/fr3/joint_limits.yaml')}" />
  <xacro:property name="connected_to" value="base_link" />

  <xacro:mr1000_description_macro/> 

  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:franka_robot arm_id="left"
                      connected_to="${connected_to}"
                      xyz="0 0.3 0.5"     
                      rpy="0 0 0"       
                      safety_distance="0.03"
                      gazebo="false"
                      joint_limits="${joint_limits}"/>

  <xacro:franka_robot arm_id="right"
                      connected_to="${connected_to}"
                      xyz="0 -0.3 0.5"    
                      rpy="0 0 0"       
                      safety_distance="0.03"
                      gazebo="false"
                      joint_limits="${joint_limits}"/>

</robot>